<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/public/style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Test</title>
    </head>
    <body>
        <%- include('./partials/header.ejs')%>

        <div class="intro">
            <h1> Test Editing</h1>
            <p>Edit your test below </p>
        </div>
        <br>

        <form class="questions-form" method="POST" action="/tests/<%= test.id  %>?_method=PUT">
            <div class="intro3">
                <label for="testname">Name of the test</label>
                <input type="text" name="testname" id="testname" placeholder="Name" required value="<%= test.name %>">
            </div>
            <% let j=1; %> 
            <% while(questions[j-1]!=null){ %>   
                <div class="question" id="question<%=j  %>">
                    <!-- --><input type="hidden" name="idQ" value="<%= questions[j-1].id %>">
                    <label for="question-text" class="question-label" id="question-label<%= j %>">Question <%= j %>:</label>
                    <textarea class="question-text" id="question-text<%= j %>" name="question_text" placeholder="Question text" required><%= questions[j-1].questionText %></textarea>

                    <div class="question-types">    
                        <label for="type-of-question">Question type:</label> 
                        <select name="type_of_question" class="question-type-select" id="question-type-select<%= j %>">
                            <option value="choose-answer" <%=(questions[j-1].questionType=='choose-answer')? 'selected':'' %> >Choose correct answer</option>
                            <option value="type-answer" <%=(questions[j-1].questionType=='type-answer')? 'selected':'' %> >Type correct answer</option>
                            <option value="true-false" <%=(questions[j-1].questionType=='true-false')? 'selected':'' %> >True or false</option>
                        </select>
                    </div>

                    <div class="answers <%=(questions[j-1].questionType=='choose-answer' || questions[j-1].questionType=='true-false')?'answers-type1':'' %> " id="answers-question<%= j %>">
                        <% if(questions[j-1].questionType == 'choose-answer'){ %> 
                            <button class="w3-button w3-circle w3-blue button3" id="addOption<%= j %>" type="button">+</button>
                            <p class="text-add-option">Click to add new options/answers</p>
                            <p class="text-check">Check the correct answer (you can check more than 1 option)</p>

                            <% for(let i=0 ; i<questions[j-1].answersText.length ; i++){ %> 
                                <div class="answer-option">
                                    <input type="checkbox" name="answercheck<%= j %>" value="1" class="check-correct1" id="answercheck<%= i+1 %>" <%= ((questions[j-1].correct[i]==1)? 'checked':'') %> >
                                    <input name="answercheck<%= j %>" type="hidden" value="0">
                                    <textarea placeholder="Enter option/answer" class="textarea1" required id="answer-text<%= i+1 %>" name="answer_text_Q<%= j %>"><%= questions[j-1].answersText[i] %></textarea>
                                    <button class="button4" type="button">-</button>
                                </div>
                            <% } %> 
                        <% } else if(questions[j-1].questionType == 'type-answer') { %> 
                            <textarea placeholder="Enter correct answer" class="textarea1" required id="correctanswer<%= j %>" name="correctanswer<%= j %>"><%= questions[j-1].answersText %></textarea>
                            <p class="text-correct-variations">You can add multiple possible corect answers/variatons separated by ;<br>Example: color;colour means both are correct answers</p>
                        <% } else if(questions[j-1].questionType == 'true-false'){ %> 
                            <button class="w3-button w3-circle w3-blue button3" id="addStatement<%= j %>" type="button">+</button>
                            <p class="text-add-statement">Click to add new statement</p>
                            <p class="text-check-tf">For each statement check TRUE (T) or FALSE (F)</p>
                            <div class="T-F-letters1">
                                <p>T</p>
                                <p>F</p>
                            </div>
                            <% for(let i=0 ; i<questions[j-1].answersText.length ; i++){ %> 
                                <div class="answer-option">
                                    <input type="radio" name="check_tf<%= j %>_<%= i+1 %>" class="check-correct1" required id="check-true<%= i+1 %>" value="true" data-num=<%= i+1 %> <%= (questions[j-1].correct[i] == 1)? 'checked':'' %> >
                                    <input type="radio" name="check_tf<%= j %>_<%= i+1 %>" class="check-correct1" required id="check-false<%= i+1 %>" value="false" data-num=<%= i+1 %> <%= (questions[j-1].correct[i] == 0)? 'checked':'' %> >
                                    <textarea placeholder="Enter statement" class="textarea1" required id="statement-text<%= i+1 %>" name="statement_text_Q<%= j %>"><%= questions[j-1].answersText[i] %></textarea>
                                    <button class="button4" type="button">-</button>
                                </div>
                            <% } %> 
                        <% } %> 
                    </div>

                    <div class="question-scoring" id="question-scoring<%= j %>">
                        <div class="question-points" id="question-points<%= j %>">
                            <label>Enter maximum points for this question</label>
                            <input type="number" placeholder="Points" name="question_maxpoints" id="question-maxpoints<%= j %>" required value=<%= questions[j-1].maxPoints %> step="any" min="0">
                        </div>
                    </div>
                    <div class="question-deleting" id="question-deleting<%= j %>">
                        <button class="removeQ-btn" type="button">Remove question from the test</button>
                    </div>

                </div>
                <% j++;  %> 
            <% } %> 
            
            <div class="questions-add">
                <button class="w3-button w3-circle w3-blue w3-xxlarge button2" type="button" id="addQuestion">+</button>

                <p class="text-add-question">Click to add a new question</p>
            </div>
            <div class="questions-add">
                <button class="w3-button w3-circle w3-blue w3-xxlarge button2" type="button" id="addQuestion2">+</button>

                <p class="text-add-question">Add an already existing question from "My Questions"</p>
            </div>
            <div class="added-questions">
                <h4>Added questions:</h4>
                <!-- ovde dodajemo pitanja koja cekiramo -->
            </div>
            <div class="existing-questions">
                <% let number=1; %>
                <% otherQuestions.forEach(question => { %>
                    <div>
                        <h4><%=number + ': ' +question.questionText %></h4>
                        <button class="view-existing-question-btn" type="button" data-view=false>View</button>
                        <label for="existing_questions">Add this question to the test</label>
                        <input type="checkbox" name="existing_questions" value="<%= question.id%>" data-text="<%= question.questionText %>">
                        <div class="existing-question">
                            <div>
                                <p>Question type: <%= question.questionType %></p>
                            </div>
                            <div>
                                <% let j=1; %> 
                                <% while(question.answersText[j-1] != null){%>
                                    <p> <%= j %>: <%= question.answersText[j-1] %> </p>
                                    <% j++; %> 
                                <% } %>     
                            </div>
                        </div>
                    </div>
                    <% number++; %> 
                <% }) %>
                <% if(number == 1){ %> 
                    <h3>No questions</h3>
                <% } %> 
            </div>

            <%- include('./partials/errorMessage.ejs')  %> 


            <div class="finish-test">
                <button class="w3-button w3-hover-aqua w3-blue w3-text-indigo w3-rounder w3-xlarge"><b>Edit</b></button>
            </div>
            <div class="finish-test">
                <a class="delete-button" href="/tests">Cancel</a>
            </div>

        </form>
        

        <script src="/public/main.js"></script>
    </body>
</html>