<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/public/style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Test</title>
    </head>

    <body>
        <%- include('./partials/header.ejs')%>     
        
        <div class="intro">
            <h2> Test repsonse: <%= testname %> </h2> 
        </div>
        <div class="student-data">
            <label for="name">Name</label>
            <input readonly type="text" name="name" value="<%= username %>">
            <% if(email){ %> 
                <label for="email">Email</label>
                <input readonly type="email" name="email" value="<%= email %>">
            <% } %>     
        </div>
        <div class="questions-main">
            <% let final;  %> 
            <% if(points.length>0){ %> 
            <%      final=true; %> 
            <% }else { %> 
            <%      final=false; %> 
            <% } %>
            <% if(final){ %> 
                <div class="test-intro">
                    <h4>You have reviewed this test already</h4>
                </div>
            <% }else { %> 
                <div class="test-intro">
                    <h4>You have not reviewed this test yet</h4>
                </div>
            <% } %>
            <% let sumAutoPoints=0;  %>  
            <% let sumPoints=0;  %> 
            <% let sumMaxPoints=0;  %> 
            <form class="questions-form" action="/tests/<%= id %>/results?_method=PUT" method="POST">

                <% let i=1 %>
                <% while(questions[i-1] != null){ %> 
                    <div class="question" id="question<%= i %>">
                        <label for="question-text" class="question-label" id="question-label1">Question <%= i %>: </label>
                        <textarea readonly class="question-text"><%= questions[i-1].questionText %></textarea>
                        
                        <div class="question-types">    
                            <label for="type-of-question">Question type:</label> 
                            <div name="type_of_question" class="question-type-select" id="question-type-select1">
                                <p><%= questions[i-1].questionType %></p>
                            </div>
                        </div>

                        <div class="answers" id="answers-question<%= i %>">
                            <% let j=1; %> 
                            <% if(questions[i-1].questionType == 'choose-answer'){ %> 
                                <% while(questions[i-1].answersText[j-1] != null){%>
                                    <div class="answer-option">
                                        <input disabled type="checkbox" name="answercheck<%= i %>" class="check-correct1" value="1" id="answercheck<%= i %>_<%= j %>"  <%= ((answers[i-1].array[j-1]==1)? 'checked':'') %>>
                                        <% if(answers[i-1].array[j-1]==1 && questions[i-1].correct[j-1] == 1){  %> 
                                            <textarea readonly class="textarea1 textarea-correct"><%= questions[i-1].answersText[j-1] %></textarea>
                                        <% } else if(answers[i-1].array[j-1]==1 && questions[i-1].correct[j-1]  == 0) { %> 
                                            <textarea readonly class="textarea1 textarea-wrong1"><%= questions[i-1].answersText[j-1] %></textarea>
                                        <% } else if(answers[i-1].array[j-1]==0 && questions[i-1].correct[j-1]  == 1) { %> 
                                            <textarea readonly class="textarea1 textarea-wrong2"><%= questions[i-1].answersText[j-1] %></textarea>
                                        <% } else {%>
                                            <textarea readonly class="textarea1"><%= questions[i-1].answersText[j-1] %></textarea>
                                        <% } %>  
                                    </div>
                                    <% j++; %> 
                                <% } %>     
                            <% } else if(questions[i-1].questionType == 'type-answer'){ %> 
                                <% if(questions[i-1].answersText.includes(answers[i-1].string)){ %> 
                                    <textarea readonly class="textarea1 textarea-correct"><%= answers[i-1].string %></textarea>
                                <% } else {%>
                                    <textarea readonly class="textarea1 textarea-wrong1"><%= answers[i-1].string %></textarea>
                                <% } %>  
                            <% } else if(questions[i-1].questionType == 'true-false'){%>
                                <div class="T-F-letters2">
                                    <p>T</p>
                                    <p>F</p>
                                </div>
                                <% while(questions[i-1].answersText[j-1] != null){%>
                                    <div class="answer-option">
                                        <input disabled type="radio" name="check_tf<%= i %>_<%= j %>" class="check-correct1" value="true" <%= ((answers[i-1].array[j-1]==1)? 'checked':'') %>>
                                        <input disabled type="radio" name="check_tf<%= i %>_<%= j %>" class="check-correct1" value="false" <%= ((answers[i-1].array[j-1]==0)? 'checked':'') %>>
                                        <% if(answers[i-1].array[j-1] == questions[i-1].correct[j-1]){ %>
                                            <textarea readonly class="textarea1 textarea-correct"><%= questions[i-1].answersText[j-1] %></textarea>
                                        <% }else { %>
                                            <textarea readonly class="textarea1 textarea-wrong1"><%= questions[i-1].answersText[j-1] %></textarea>  
                                        <% } %> 
                                    </div>
                                    <% j++; %> 
                                <% } %>
                            <% } %> 
                        </div>
                        <div class="question-scoring" id="question-scoring<%= i %>">
                            <div class="question-points" id="question-points<%= i %>">
                                <label>Points</label>
                                <% if(final){ %> 
                                    <input type="number" placeholder="Points" name="points" id="points<%= j %>" required value=<%= points[i-1] %> step="any" min="0" max=<%= questions[i-1].maxPoints %>>
                                <% } else{%> 
                                    <input type="number" placeholder="Points" name="points" id="points<%= j %>" required value=<%= autoPoints[i-1] %> step="any" min="0" max=<%= questions[i-1].maxPoints %>>
                                <% } %> 
                                <label>Maximum Points</label>
                                <p><%= questions[i-1].maxPoints %></p>
                            </div>
                        </div>
                        
                    </div>
                    <% sumAutoPoints += autoPoints[i-1] %> 
                    <% sumPoints += points[i-1] %>
                    <% sumMaxPoints += questions[i-1].maxPoints %>
                    <% i++; %> 
                <% } %>

                <div class="question-scoring2" id="question-scoring<%= i %>">
                    <div class="question-points" id="question-points<%= i %>">
                        <% if(final){ %> 
                            <label>Total points</label>
                            <input readonly type="number" value=<%= sumPoints %>>
                        <% }else { %> 
                            <label>Total unofficial points</label>
                            <input readonly type="number" value=<%= sumAutoPoints %>>
                        <% } %>     
                        <label>Maximum Points</label>
                        <p><%= sumMaxPoints %></p>
                    </div>
                </div>

                <div class="finish-test">
                    <button class="w3-button w3-hover-aqua w3-blue w3-text-indigo w3-rounder w3-xlarge" id="submit"><b>Finish</b></button>
                </div>

            </form>
        </div>

    </body>
</html>